language: node_js
sudo: false
node_js:
  - "6"
  - "8"
  - "10"
  - "11"

script:
  - npm run compile
  - npm run test

after_success:
  - npm run publish-coverage


cache:
  directories:
    - "node_modules"
